mat-toolbar {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-shadow: none;
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1;
}

mat-icon {
  color: #F0E6D2;
}

.icon-size {
  font-size: 32px;
}

button.mat-icon-button {
  background: transparent;
}

.login-button {
  margin-left: auto;
  font-size: 24px;
  color: #F0E6D2 !important;
  font-weight: bold;
}

/* Move content down so it doesn't hide behind the fixed navbar */
mat-drawer-container {
  padding-top: 64px;
}
