<h1>All Lol skins</h1>
<div id="box" #box>
  <div *ngFor="let champion of champions">
    <p>{{ champion.name }}</p>
    <mat-grid-list [cols]="columns" rowHeight="300px">
      <mat-grid-tile *ngFor="let skin of champion.skins; let i = index"
                     (mouseenter)="setHoveredIndex(i, champion.skins)"
                     (mouseleave)="setHoveredIndex(null, champion.skins)"
                     [colspan]="skin.cols == undefined ? 1 : skin.cols"
                     [class.disable-transition-last-column]="isLastColumn(i, champion.skins)">
        {{ skin.name }}
        <br/>
        <img [src]="skin.loadScreenPath" alt="skin_tile">
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>




