.mat-grid-tile {
  transition: background-color 0.3s ease, width 0.3s ease, left 0.3s ease;
  background-color: green;
}

.disable-transition-last-column {
  transition: none !important;
}

.mat-grid-tile:hover {
  background-color: lightpink;
}

.skin_tile {
  overflow: hidden;
  object-fit: cover;
  object-position: center top;
  background-color: #301717;

  position: absolute;
  top: 0;
  height: 600px;
}

.grayed-out {
  filter: grayscale(100%) blur(5px);
}

#box {
  max-width: 1500px;
  flex: 1;
}

.box-wrapper{
  display: flex;
  align-content: center;
  justify-content: center;
}


