/* You can add global styles to this file, and also import other style files */
.flex-display {
  display: flex;
}

.grid-display {
  display: grid;
}

.grayed-out {
  filter: grayscale(100%) blur(5px);
}

.flex-direction_column {
  flex-direction: column;
}

.flex-direction_row {
  flex-direction: row;
}

.justify-content-center {
  justify-content: center;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-end {
  justify-items: end;
}

.align-content-center {
  align-content: center;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.medium-image {
  height: 200px;
}

.small-image {
  width: 50px;
  height: 50px;
}

.mini-image {
  width: 20px;
  height: 20px;
}

.padding-left-5px {
  padding-left: 5px;
}

.padding-all-10px {
  padding: 10px;
}

.padding-all-5px {
  padding: 5px;
}

.full-vh-vw {
  height: 100vh;
  width: 100vw;
}
